[Unit]
Description=Finish OS setup on first boot.
After=network-online.target multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/finish-setup.sh
RemainAfterExit=no
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target