[Unit]
Description=Finish OS setup on first boot.
After=network-online.target multi-user.target

[Service]
Type=oneshot
ExecStart=bash /usr/etc/finish-setup/finish-setup.sh > /dev/null 2>&1
RemainAfterExit=no
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
